[core]
	eol = =
	editor = winpty vim
	autocrlf = true
[alias]
    	rebasemaster = !git checkout master && git pull && git checkout - && git rebase - --autostash
    	logp = log --pretty=oneline
	last = log -1 HEAD --name-only
	mwps = push -o merge_request.create -o merge_request.target=master -o merge_request.merge_when_pipeline_succeeds
	pushrequest = push -o merge_request.create -o merge_request.target=master
    	pushbranch = !git push --set-upstream origin $(git rev-parse --abbrev-ref HEAD)
    	pushb = pushbranch
	pushf = push --force-with-lease
	pr = !git push && hub pull-request -po
    	ci = commit --interactive
	ci-status = !hub ci-status
	merge-pr = !hub merge
    	prshow = !hub pr show
    	deleteMerged = !git branch --merged | egrep -v \"(^\\*|master|dev|develop)\" | xargs git branch -d
    	ai = add -i .
    	st = status
	checkoutqa = "!sh -c \"git checkout -b $1-qa\""
[diff]
    	tool = kdiff3
[difftool "kdiff3"]
    	path = kdiff3.exe
[difftool]
    	prompt = false
    	keepBackup = false
    	trustExitCode = false
[merge]
    	tool = kdiff3
